.app {
  text-align: center;
  font-family: sans-serif;
}

.grid {
  display: grid;
  gap: 0.2rem;
  justify-content: center;
  margin-top: 0.5rem;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}

.sample-btn {
  width: 60px;
  height: 60px;
  border: 1px solid #bbb;
  border-radius: 1rem;
  cursor: pointer;
  transition: 0.2s;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.sample-btn:hover {
  background: #ddd;
}

.add-remove-btn {
  background: #4c82ff;
  color: white;
  border: none;
  padding: 0.6rem 1.2rem;
  border-radius: 10px;

  font-size: 15px;
  cursor: pointer;

  transition: 0.2s ease;
}

.add-remove-btn:hover {
  background: #3a6be6;
}

.add-remove-btn:active {
  transform: scale(0.96);
}
