.app {
  text-align: center;
  font-family: sans-serif;
}

.grid {
  display: grid;
  gap: 0.2rem;
  justify-content: center;
  margin-top: 0.5rem;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}

.sample-btn {
  width: 60px;
  height: 60px;
  border: 1px solid #bbb;
  border-radius: 1rem;
  background: #eee;
  cursor: pointer;
  transition: 0.2s;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.sample-btn:hover {
  background: #ddd;
}
